<div class="row">
	<div class="container">
		<div style="margin-top:10px">
			<%= form_for :fax_number, url: '/fax_numbers', class: 'form-inline' do |f| %>
			<% if organization %>
				<div class="row purchase-number-form">
				<%= f.hidden_field :organization_id, value: "#{organization.id}" %>
			<% else %>
				<div class="row purchase-number-form">
				<div class="col-lg-1"></div>
			<% end %>
					<div class="form-group col-lg-4">
				 		<strong><%= f.label :state, "State/Province:" %></strong>
						<select id="states" class="form-control form-inline" name="fax_number[state]">
							<option id="All" name="fax_number[state]" value="all">All</option>
							<% states.each do |state| %>
								<option id="<%= state %>" name="fax_number[state]" value="<%= state %>">
									<%= state %>
								</option>
							<% end %>
						</select>
					</div>
					<div class="form-group col-lg-4">
						<strong><%= f.label :area_code, "Area Code:" %></strong>
						<select id="area-codes" class="form-control form-inline" name="fax_number[area_code]">
							<% area_codes.each do |area_code_key, area_code_data| %>
								<option id="<%= area_code_data[:state] %>" class="form-group" name="fax_number[area_code]" value="<%= area_code_key %>">
									<%= area_code_key %> - <%= area_code_data[:city] %>
								</option>
							<% end %>
						</select>
					</div>
					<div class="form-group col-lg-2">
						<button id="purchase-button" type="submit" class="btn btn-success force-down-button form-inline pull-left">
							<i class="fa fa-fw fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Purchase Number
						</button>
					</div>
					<div class="col-lg-1"></div>
				</div>
			<% end %>
		</div>
	</div>
</div>