<%= form_for(:fax_number, url: '/fax_numbers') do |f| %>
	<div class="form-group">
		<%= f.label :fax_number, "Fax Number:" %>
		<%= f.phone_field :fax_number, class: 'form-control'%>
	<div class="form-group">
		<%= f.label :fax_number_label, "Fax Number Name (optional):" %>
		<%= f.text_field :fax_number_label, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :fax_number_display_label, "Client-Set Fax Number Label:" %>
		<%= f.text_field :fax_number_display_label, class: 'form-control', placeholder: "(Typically set by the number's Client Manager)" %>
	</div>
	<div class="form-group">
		<%= f.submit "Add Number", class: "btn btn-primary" %>
	</div>
<% end %>