<h1>Edit Fax Number (<%= @fax_number.fax_number%>)</h1>
<br>
<div class="row">
	<div class="col-lg-6">
		<%= form_for(:fax_number, url: "/fax_numbers/#{@fax_number.id}", method: :put) do |f| %>
			<%= f.hidden_field :id, :value => @fax_number.id %>
			<% if is_admin? %>
				<div class="form-group">
					<%= f.label :fax_number_label, "Fax Number Label:" %>
					<%= f.text_field :fax_number_label, class: 'form-control' %>
				</div>
			<% end %>
			<div class="form-group">
				<% if is_admin? %>
					<%= f.label :fax_number_display_label, "Client-Set Fax Number Label:" %>
				<% else %>
					<%= f.label :fax_number_display_label, "Fax Number Label:" %>
				<% end %>
				<%= f.text_field :fax_number_display_label, class: 'form-control', placeholder: "(Typically set by the number's Client Manager)" %>
			</div>
			<% if @clients && is_admin? %>
				<div class="form-group">
					<%= f.label "Client:" %>
					<%#= f.select :client_id, @clients.map { |client| [client.client_label, client.id] }, class: "form-control" %>
					<select name="fax_number[client_id]">
						<% @clients.each do |client| %>
							<% if client == @fax_number.client %>
								<option class="form-control" name="fax_number[client_id]" value="<%= client.id %>" selected="selected"><%= client.client_label %></option>
							<% else %>
								<option class="form-control" name="fax_number[client_id]" value="<%= client.id %>"><%= client.client_label %></option>
							<% end %>
						<% end %>
					</select>
				</div>
			<% end %>
			<% if @fax_number.emails %>
				<h3>Remove These Emails</h3>
					<table class="table table-hover table-striped table-sm">
						<thead class="thead-dark">
							<tr>
								<th></th>
								<th class="text-left">Remove</th>
								<th class="text-center">Email</th>
								<th class="text-center">Caller ID</th>
								<th class="text-center">Edit</th>
							</tr>
						</thead>
						<tbody>
							<% @fax_number.emails.each do |email| %>
								<tr>
									<td class="text-center align-middle"><%= image_tag("file-icon.png", size:"24x24") %></td>
									<td class="text-center"><input class="form-check-input checkbox" type="checkbox" id="<%= email.email %>" name="emails[to_remove][<%= email.id %>]"></td>
				    			<td class="text-center"><%= email.email %></td>
				    			<td class="text-center"><%= email.caller_id_number %></td>
				    			<td class="text-center"><%= link_to "Edit", edit_email_path(email), class: "btn btn-sm btn-success" %></td>
								</tr>
						<% end %>
						</tbody>
				</table>
			<% end %>
			<% if @fax_number.unused_client_emails.present? %>
				<h3>Add These Emails</h3>
				<table class="table table-hover table-striped table-sm">
					<thead class="thead-dark">
						<tr>
							<th></th>
							<th class="text-left">Add</th>
							<th class="text-center">Email</th>
							<th class="text-center">Caller ID</th>
							<th class="text-center">Edit</th>
						</tr>
					</thead>
					<tbody>
						<% @fax_number.unused_client_emails.each do |unused_email| %>
							<tr>
								<td class="text-center align-middle"><%= image_tag("file-icon.png", size:"24x24") %></td>
								<td class="text-center"><input class="form-check-input checkbox" type="checkbox" id="<%= unused_email.email %>" name="emails[to_add][<%= unused_email.id %>]"></td>
			    			<td class="text-center"><%= unused_email.email %></td>
			    			<td class="text-center"><%= unused_email.caller_id_number %></td>
			    			<td class="text-center"><%= link_to "Edit", edit_email_path(unused_email), class: "btn btn-sm btn-success" %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
			<div class="form-group">
				<%= f.submit "Save Changes", class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>
</div>