<body class="bg-dark coverup">
  <div class="container coverup">
    <div class="card smaller-card mx-auto mt-5">
      <div class="card-header">
      	Edit Details for <%= FaxNumber.format_pretty_fax_number(@fax_number.fax_number) %>:
    	</div>
      <div class="card-body">
        <div class="mb-8">

      		<%= form_for(:fax_number, url: "/fax_numbers/#{@fax_number.id}", method: :put) do |f| %>
						<div class="col">
							<div class="form-group">
								<% if is_admin? %>
									<strong><%= f.label :manager_label, "Manager Label:" %></strong>
									<%= @fax_number.manager_label %>
								<% else %>
									<strong><%= f.label :manager_label, "Label:" %></strong>
									<%= f.text_field :manager_label, class: 'form-control form-group' %>
								<% end %>
							</div>
						</div>

						<% if is_admin? %>
							<div class="col form-group">
								<label><strong>Fax Number Label:</strong></label>
								<%= f.text_field :label, class: 'form-control' %>
							</div>

							<div class="form-group col">
								<strong><%= f.label "Organization: " %></strong>
								<select class="form-control" name="fax_number[organization_id]">
									<% @organizations.each do |organization| %>
										<% if organization == @fax_number.organization %>
											<option name="fax_number[organization_id]" value="<%= organization.id %>" selected="selected"><%= organization.label %></option>
										<% else %>
											<option name="fax_number[organization_id]" value="<%= organization.id %>"><%= organization.label %></option>
										<% end %>
									<% end %>
									<% if @fax_number.organization.present? %>
										<option name="fax_number[organization_id]" value="">N/A (Will remove this number from the organization)</option>
									<% else %>
										<option name="fax_number[organization_id]" value="" selected>N/A (Removes this number from the organization)</option>
									<% end %>
								</select>
							</div>
							<% end %>
							<%= f.submit "Save Changes", class: "btn btn-success force-down-button" %>
						</div>
					<% end %>

	      </div>
	    </div>
	  </div>
</body>