<body class="bg-dark coverup">
  <div class="container coverup">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Edit Fax Number Details:</div>
      <div class="card-body">
        <div class="mb-8">
      		<%= form_for(:fax_number, url: "/fax_numbers/#{@fax_number.id}", method: :put, class: "form-inline") do |f| %>
						<%#= f.hidden_field :fax_number_id, :value => @fax_number.id %>
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<% if is_admin? %>
										<strong><%= f.label :fax_number_display_label, "Client Label:" %></strong>
										<%= @fax_number.fax_number_display_label %>
									<% else %>
										<strong><%= f.label :fax_number_display_label, "Label:" %></strong>
										<%= f.text_field :fax_number_display_label, class: 'form-control form-group' %>
									<% end %>
								</div>
							</div>
						</div>
						<div class="row">
							<div>
								<div class="col">
								<em>
									<% if @fax_number.client.present? %>
										<p>
											Linked email addresses are emailed whenever <%= FaxNumber.format_pretty_fax_number(@fax_number.fax_number) %> sends or receives a fax.
										</p>
									<% end %>
								</em>
								</div>
							</div>

							<div class="col-lg-5">
								<% if is_admin? %>
									<label><strong>Fax Number Label:</strong></label>
									<%= f.text_field :fax_number_label, class: 'form-control' %>
								<% end %>
							</div>

							<div class="form-group col-lg-5">
								<strong><%= f.label "Client: " %></strong>
								<select class="form-control" name="fax_number[client_id]">
									<% @clients.each do |client| %>
										<% if client == @fax_number.client %>
											<option name="fax_number[client_id]" value="<%= client.id %>" selected="selected"><%= client.client_label %></option>
										<% else %>
											<option name="fax_number[client_id]" value="<%= client.id %>"><%= client.client_label %></option>
										<% end %>
									<% end %>
								</select>
							</div>
							<div class="form-group col-lg-2 text-center">
								<%= f.submit "Save Changes", class: "btn btn-success force-down-button" %>
							</div>
						</div>
					<% end %>
	      </div>
	    </div>
	  </div>
	</div>
</body>