<div class="row">
	<div class="col-lg-9">
		<h1>Manage Fax Numbers</h1>
	</div>
</div>
<br>
<div class="col">
	<p><span><i class="fa fa-fw fa-check" aria-hidden="true"></i></span><i>  indicates a Phaxio account number</i></p>
</div>
<table class='table table-hover'>
	<thead class="thead-dark">
		<tr>
			<th class="text-center"></th>
			<th class="text-center">Fax Number</th>
			<th class="text-center">Organization</th>
			<th class="text-center">Label</th>
			<th class="text-center">Fax Number Location</th>
			<th class="text-center">Date Provisioned</th>
			<th class="text-center">Edit</th>
		</tr>
	</thead>
	<tbody>
		<% if @fax_numbers %>
			<% @fax_numbers.each do |fax_number, info_hash| %>
				<tr>
					<% if !info_hash[:callback_url] %>
						<td class="text-center align-middle"><span><i class="fa fa-check" aria-hidden="true"></i></span></td>
					<% else %>
						<td class="text-center align-middle"></td>
					<% end %>
					<td class="text-center align-middle"><%= FaxNumber.format_pretty_fax_number(fax_number) %></td>
					<td class="text-center align-middle">
						<% if !info_hash[:organization].nil? %>
							<%= link_to info_hash[:organization], edit_organization_path(id: info_hash[:organization_id]) %>
						<% end %>
					</td>
					<td class="text-center align-middle"><%= info_hash[:fax_number_label] %></td>
					<% if info_hash[:city] && info_hash[:state] %>
						<td class="text-center align-middle"> <%= info_hash[:city] %>, <%= info_hash[:state] %></td>
					<% else %>
						<td class="text-center align-middle"></td>
					<% end %>
					<td class="text-center align-middle"><%= info_hash[:provisioned_at] %></td>
					<td class="text-center align-middle">
						<% if !info_hash[:callback_url] %>
							<%= link_to "Edit", edit_fax_number_path(id: info_hash[:id]), params: { fax_number: { id: info_hash[:id] } },
								class: "btn btn-success btn-sm align-middle" %>
						<% else %>
							<td></td>
						<% end %>
					</td>
				</tr>
			<% end %>
		<% else %>
			<tr>
				<td class="text-center">No fax numbers have been added yet</td>
			</tr>
		<% end %>
	</tbody>
</table>