<body class="bg-dark coverup">
  <div class="container coverup">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Edit <%= @user.email %>:</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-8">
					<% if is_admin? %>
						<i><p class="text-center">Note: Only labels set by the manager are shown here</p></i>
					<% end %>

					<div class="col">
						<%= form_for @user do |f| %>
							<div class="row">
								<div class="form-group col">
									<strong><%= f.label :email, "Email Address:", class: "pull-left" %></strong>
									<%= f.email_field :email, value: "#{@user.email}", class: "form-control" %>
								</div>
								<div class="form-group col">
									<strong><%= f.label :caller_id_number, "Caller ID Number:", class: "pull-left" %></strong>
									<select class="form-control form-inline" name="user[caller_id_number]">
										<% @user.organization.fax_numbers.each do |organization_fax_number| %>
											<% if organization_fax_number.fax_number == @user.caller_id_number %>
												<option name="user[caller_id_number]" value="<%= organization_fax_number.fax_number %>" selected="selected">
													<%= FaxNumber.format_pretty_fax_number(organization_fax_number.fax_number) %>
													<% if organization_fax_number.manager_label.present? %>
												 		- <%= organization_fax_number.manager_label %>
												 	<% end %>
												 </option>
											<% else %>
												<option name="user[caller_id_number]" value="<%= organization_fax_number.fax_number %>">
													<%= FaxNumber.format_pretty_fax_number(organization_fax_number.fax_number) %>
													<% if organization_fax_number.manager_label.present? %>
											 			- <%= organization_fax_number.manager_label %>
											 		<% end %>
											 	</option>
											<% end %>
										<% end %>
									</select>
								</div>

								<% if is_admin? && @user.user_permission.permission == UserPermission::MANAGER %>
									<div class="col">
										<strong><label for="user_permission[permission]" class="pull-left">Permission:</label></strong>
										<select class="form-control form-group" name="user_permission[permission]">
											<option class="form-group" name="user[permission]" value="<%= UserPermission::MANAGER %>" selected="selected">
												<%= UserPermission::MANAGER.titleize %>
											</option>
											<option class="form-group" name="user_permission[permission]" value="<%= UserPermission::USER %>">
												<%= UserPermission::USER.titleize %>
											</option>
										</select>
									</div>
								<% elsif is_admin? && @user.manager.nil? %>
									<div class="col">
										<strong><label for="user_permission[permission]" class="pull-left">Permission:</label></strong>
										<select class="form-control form-group" name="user_permission[permission]">
											<option class="form-group" name="user_permission[permission]" value="<%= UserPermission::USER %>" selected="selected">
												<%= UserPermission::USER.titleize %>
											</option>
											<option class="form-group" name="user_permission[permission]" value="<%= UserPermission::MANAGER %>">
												<%= UserPermission::MANAGER.titleize %>
											</option>
										</select>
									</div>
								<% end %>

								<div class="col-lg-2 form-group force-down-button">
									<%= f.submit "Submit Changes", class: "btn btn-success" %>
								</div>
							</div>
						<% end %>
					</div>

					<div class="col force-down-button">
						<% if @user != current_user %> <!-- Keeps organization Manager from revoking their own identity -->
							<%= form_for :user, url: "/users/#{@user.id}", method: :delete do |f| %>
								<%= f.hidden_field :email, value: @user.email %>
								<button type="submit" class="btn btn-danger inline-input-margin revoke-access">
									<i class="fa fa-fw fa-remove" aria-hidden="true"></i>  Revoke Access
								</button>   
							<% end %>
						<% end %>
					</div>
	      </div>
	    </div>
	  </div>
	</div>
</body>