<body class="bg-dark coverup">
  <div class="container coverup">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Forgot your password?</div>
      <div class="card-body">
        <div class="text-center mb-8">
					<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					  <%= devise_error_messages! %>
					  <div class="row">
					  	<div class="col-lg-1"></div>
						  <div class="form-group form-inline col-lg-6">
						    <strong><%= f.label :email, "Email Address:" %></strong>
						    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control col-lg-8 inline-input-margin' %>
						  </div>
						  <div class="form-group form-inline col-lg-4">
						    <%= f.submit "Send me reset password instructions", class: "btn btn-success" %>
						  </div>
						</div>
					<% end %>
	      </div>
	    </div>
	  </div>
	</div>
</body>