<body class="bg-dark coverup">
  <div class="container coverup">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Forgot your password?</div>
      <div class="card-body">
        <div class="text-center mb-8">
					<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					  <%= devise_error_messages! %>

					  <div class="field form-group">
					    <%= f.label :email, "Email Address:" %><br />
					    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
					  </div>

					  <div class="actions form-group">
					    <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
					  </div>
					<% end %>
	      </div>
	    </div>
	  </div>
	</div>
</body>