<body class="bg-dark coverup">
  <div class="container coverup">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Set your Password:</div>
      <div class="card-body">

      	<div class="container">
					<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
					  <%= devise_error_messages! %>
					  <%= f.hidden_field :reset_password_token %>
					  <%= f.hidden_field :new_user, value: true %>

					  <div class="form-group col-lg-6">
					    <%= f.label :password, "Password:" %>
					    <% if @minimum_password_length %>
					      <small><em>(<%= @minimum_password_length %> characters minimum)</em></small><br />
					    <% end %>
					    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
					  </div>

					  <div class="form-group col-lg-6">
					    <%= f.label :password_confirmation, "Confirm Password:" %><br />
					    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
					  </div>

					  <div class="form-group col-lg-5 align-self-center">
					    <%= f.submit "Set My Password", class: "btn btn-success" %>
					  </div>
					<% end %>
	      </div>
	    </div>
	  </div>
	</div>
</body>