<body class="bg-dark coverup">
  <div class="container coverup">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Set your Password</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-8">
					<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
					  <%= devise_error_messages! %>
					  <%= f.hidden_field :reset_password_token %>
					  <%= f.hidden_field :new_user, value: true %>

					  <div class="field form-group">
					    <%= f.label :password, "Password:" %><br />
					    <% if @minimum_password_length %>
					      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
					    <% end %>
					    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "col-lg-6" %>
					  </div>

					  <div class="field form-group">
					    <%= f.label :password_confirmation, "Confirm Password:" %><br />
					    <%= f.password_field :password_confirmation, autocomplete: "off", class: "col-lg-6" %>
					  </div>

					  <div class="actions">
					    <%= f.submit "Set my password", class: "btn btn-primary" %>
					  </div>
					<% end %>
	      </div>
	    </div>
	  </div>
	</div>
</body>