<nav id="sidebar" class="fixed-top">
	<div class="sidebar-header"">
		<% if current_logo == "" || current_logo.nil? %>
				<%= image_tag 'phaxio.png', style: "background-color:fafafa"%>
		<% else %>
			<img src="<%= sanitize(current_logo) %>", class="logo", alt="&nbsp;&nbsp;Invalid Logo Url">
		<% end %>
  </div>
  <div id="transition-zone"></div>
  <ul class="list-unstyled components">

    <% if user_signed_in? %>

    	<% if is_admin? %>
      	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Manage Organizations">
      		<a class="nav-link" href="/organizations">
        		<i class="fa fa-fw fa-id-card-o"></i>
        		<span class="nav-link-text">&nbsp;Manage Organizations</span>
      		</a>
	      </li>
	      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Manage Fax Numbers">
      		<a class="nav-link" href="/fax_numbers">
        		<i class="fa fa-fw fa-phone"></i>
        		<span class="nav-link-text">&nbsp;Manage Numbers</span>
      		</a>
	      </li>
    	<% end %>

    	<% if is_manager? %>
    		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Fax Logs">
	      	<a class="nav-link" href="/fax_logs">
		    		<i class="fa fa-fw fa-pie-chart"></i>
			   		<span class="nav-link-text">&nbsp;Fax Logs</span>
			 		</a>
				</li>
    	<% end %>

      <% if is_manager? && !is_admin? %>
      	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Organization Profile">
      		<a class="nav-link" href="/organizations/<%=current_user.organization.id%>">
      			<i class="fa fa-fw fa-id-card-o"></i>
      			<span class="nav-link-text">&nbsp;Organization Profile</span>
      		</a>
      	</li>
      	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Send a Fax">
	      	<a class="nav-link" href="/faxes/new">
		    		<i class="fa fa-fw fa-fax"></i>
			   		<span class="nav-link-text">&nbsp;Send a Fax</span>
			 		</a>
				</li>
      <% end %>

      <% if user_signed_in? && !is_manager? %>
	      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Send a Fax">
	      	<a class="nav-link" href="/faxes/new">
		    		<i class="fa fa-fw fa-fax"></i>
			   		<span class="nav-link-text">&nbsp;Send a Fax</span>
			 		</a>
				</li>
			<% end %>

			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Edit Profile">
    		<a class="nav-link" href="/users/edit.<%=current_user.id%>">
    			<i class="fa fa-fw fa-user-circle-o"></i>
    			<span class="nav-link-text">&nbsp;Edit Profile</span>
    		</a>
    	</li>
    	<li class="nav-item logout" data-toggle="tooltip" data-placement="right" title="Log Out">
				<form action="/users/sign_out/<%= current_user.id %>" method="POST" class="nav-link">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="_method" value="delete">
					<button type="submit" class="logout-button">
			      <i class="fa fa-fw fa-sign-out"></i>
			      <span class="nav-link-text">&nbsp;Log Out</span>
					</button>
				</form>
			</li>

    <% else %>
    	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Log In">
      	<a class="nav-link" href="/users/sign_in">
      		<i class="fa fa-fw fa-sign-in"></i>
      		<span class="nav-link-text">&nbsp;Log In</span>
      	</a>
      </li>
    <% end %>
  </ul>
</nav>