<div id="navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
  	<ul class="navbar-nav mr-auto">
  		<li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
      	<% if is_admin? %>
	      	<li class="nav-item">
	      		<%= link_to "Manage Clients", clients_path, class: "nav-link" %>
		      </li>
		      <li class="nav-item">
	      		<%= link_to "Manage Fax Numbers", fax_numbers_path, class: "nav-link" %>
		      </li>
      	<% end %>
      	<!-- <li class="nav-item"> -->
      		<%#= link_to "My Profile", user_path(current_user.id), class: "nav-link" %>
	      <!-- </li> -->
	      <li class="nav-item">
	      	<%= link_to "Send Fax", new_fax_path, class: "nav-link" %>
	      </li>
	      <% if is_client_manager? && !is_admin? %>
	      	<li class="nav-item">
      			<%= link_to "Client Profile", client_path(current_user.client.id), class: "nav-link" %>
	      	</li>
	      <% end %>
	      <li class="nav-item">
	      	<%= link_to "Log Out", destroy_user_session_path(session: {id: current_user.id}), class: "nav-link", method: :delete %>
	      </li>
      <% else %>
	      <li class="nav-item">
	      	<%= link_to "Log In", new_user_session_path, class: "nav-link" %>
	      </li>
      <% end %>
  	</ul>
  </nav>
</div>