<%= form_for client do |f| %>
	<% if is_admin? %>
		<%= f.hidden_field :admin_id, value: "#{current_user.id}" %>
	<% end %>
	<div class="row">
		<div class="col-lg-6 form-inline form-group">
			<%= f.label :client_label, "Client Name: "%>
			<%= f.text_field :client_label, value: client.client_label, class: "form-control" %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<% if client.client_manager.present? %>
				<p> Client Manager: <%= @client.client_manager.email %> </p>
			<% end %>
		</div>
	</div>

<br>

	<div class="row">
		<% if unallocated_fax_numbers.present? %>
			<div class="col-lg-5">
				<div class="form-group">
					<strong><p>Link the following fax numbers to <%= client.client_label %>:</p></strong>
					<table class="table table-hover table-sm">
						<thead class="thead-dark">
							<tr>
								<th class="text-center">Fax Number</th>
								<th class="text-center">Label</th>
							</tr>
						</thead>
						<tbody>
							<% unallocated_fax_numbers.each do |fax_number| %>
								<tr>
									<td class="text-center">
										<input type="checkbox" id="<%= fax_number.fax_number %>" name="fax_numbers[to_add][<%= fax_number.id %>]" value="<%= fax_number.fax_number %>">
				    				<label><%= fax_number.fax_number %> </label>
				    			</td>
				    			<td class="text-center"><%= fax_number.fax_number_label %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-lg-1"></div>
		<% end %>

		<% if client.fax_numbers.present? %>
			<div class="col-lg-5">
				<div class="form-group">
					<strong><p>Unlink the following fax numbers from <%= client.client_label %>:</p></strong>
						<table class="table table-hover table-sm">
							<thead class="thead-dark">
								<tr>
									<th class="text-center">Fax Number</th>
									<th class="text-center">Label</th>
								</tr>
							</thead>
							<tbody>
								<% client.fax_numbers.each do |client_fax_number| %>
									<tr>
										<td class="text-center">
											<input type="checkbox" id="<%= client_fax_number.fax_number %>" name="fax_numbers[to_remove][<%= client_fax_number.id %>]" value="<%= client_fax_number.fax_number %>">
					    				<label><%= client_fax_number.fax_number %></label>
					    			</td>
					    			<td class="text-center"><%= client_fax_number.fax_number_label %></td>
					    		</tr>
								<% end %>
							</tbody>
						</table>
					</ul>
				</div>
			</div>
		<% end %>
	</div>
	<div class="form-group">
		<%= f.submit "Submit", class: "btn btn-primary" %>
	</div>
<% end %>