<div id="manage-clients-top" class="row">
	<div class="col-lg-9">
		<h1>Manage Clients</h1>
	</div>
	<div class="col-lg-3 text-center">
		<%= link_to "Add New Client", new_client_path, class: "btn btn-primary" %>
	</div>
</div>

<% if is_admin? %>
	<% if @unallocated_fax_numbers.present? %>
		<div class="row">
			<div class="col-lg-4">
				<h2>Unallocated Fax Numbers</h2>
			</div>
			<div class="col-lg-9">
				<ul class="list-unstyled">
					<% @unallocated_fax_numbers.each do |fax_number| %>
						<li> <%= fax_number.fax_number %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>

	<% if @clients.present? %>
		<% @clients.each do |client| %>
			<div class="info-box row">
				<div class="col-lg-4 ">
					<h2><%= link_to client.client_label, client_path(client) %></h2>
					<% if client.client_manager %>
							<p>Managed by: <%= client.client_manager.email %></p>
					<% else %>
						<%= form_for :user, url: "users", method: :post do |f| %>
							<%= f.hidden_field :client_id, value: client.id %>
							<%= f.hidden_field :type, value: User::CLIENT_MANAGER %>
							<%= f.email_field :email, placeholder: "manager@acme.com" %>
							<%= f.submit "Invite Manager", class: "btn-inline btn btn-success btn-sm" %>
						<% end %>
					<% end %>
					<br>
					<%= link_to "Link / Unlink Fax Numbers", edit_client_path(client), class: "btn btn-success" %>
					<%= button_to "Delete Client", client_path(client), class: "btn btn-danger", method: :delete %>
				</div>

				<div class="col-lg-8 align-self-center">
					<table class="table table-hover table-striped table-sm align-self-center">
						<thead class="thead-dark">
							<tr>
								<th class="text-center">Fax Number</th>
								<th class="text-center">Label</th>
								<th class="text-center">Client-Set Label</th>
							</tr>
						</thead>
						<tbody>
							<% if client.fax_numbers.present? %>
								<% client.fax_numbers.each do |client_fax_number| %>
									<tr>
										<td class="text-center"><%= client_fax_number.fax_number %></td>
										<td class="text-center"><%= client_fax_number.fax_number_label %></td>
										<td class="text-center"><%= client_fax_number.fax_number_display_label %></td>
									</tr>
								<% end %>
							<% else %>
								<tr>
									<td></td>
									<td class="text-center">None Assigned</td>
									<td></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				
			</div>
		<% end %>
	<% end %>
<% end %>
