<div class="row">
	<div class="col-lg-9">
		<h1>Manage Clients</h1>
	</div>
	<div class="col-lg-3 text-center align-self-center">
		<%= link_to "Add New Client", new_client_path, class: "btn btn-success" %>
	</div>
</div>

<% if is_admin? %>
	<% if @clients.present? %>
		<% @clients.each do |client| %>
			<div class="row information-box">
				<div class="col-lg-4 form-group">
					<div class="form-group">
						<h2><%= link_to client.client_label, client_path(client) %></h2>
					</div>
					<% if client.client_manager %>
							<p>Managed by: <%= client.client_manager.email %></p>
					<% else %>
						<div class="form-group indent">
							<%= form_for :user, url: "users", method: :post, class: "form-inline" do |f| %>
								<%= f.hidden_field :client_id, value: client.id %>
								<%= f.hidden_field :type, value: User::CLIENT_MANAGER %>
								<div class="mb-2 mr-sm-2 input-group align-self-center">
									<%= f.email_field :email, placeholder: "manager@acme.com", class: "form-control mb-2 mr-sb-2" %>
									<%= f.submit "Invite Manager", class: "btn btn-success btn-sm inline-object-margin align-self-center" %>
								</div>
							<% end %>
						</div>
					<% end %>
					<div class="form-group">
						<form action="/clients/<%= client.id %>" method="POST">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="_method" value="DELETE">
							<button type="submit" class="btn btn-danger">
								<span><i class="fa fa-fw fa-trash"></i> Delete Client</span>
							</button>
					</div>
				</div>

				<div class="col-lg-8 align-self-center">
					<table class="table table-hover table-striped table-sm align-self-center">
						<thead class="thead-dark">
							<tr>
								<th class="text-center">Fax Number</th>
								<th class="text-center">Label</th>
								<th class="text-center">Client-Set Label</th>
							</tr>
						</thead>
						<tbody>
							<% if client.fax_numbers.present? %>
								<% client.fax_numbers.each do |client_fax_number| %>
									<tr>
										<td class="text-center"><%= FaxNumber.format_pretty_fax_number(client_fax_number.fax_number) %></td>
										<td class="text-center"><%= client_fax_number.fax_number_label %></td>
										<td class="text-center"><%= client_fax_number.fax_number_display_label %></td>
									</tr>
								<% end %>
							<% else %>
								<tr>
									<td></td>
									<td class="text-center">None Assigned</td>
									<td></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				
			</div>
		<% end %>
	<% end %>
<% end %>
