<div class="row">
	<div class="col-lg-9">
		<h1>Manage Clients</h1>
	</div>
	<div class="col-lg-3 text-right">
		<%= link_to "Add New Client", new_client_path, class: "btn btn-primary" %>
	</div>
</div>

<% if logged_in? && is_admin? %>
	<% if current_user.clients %>
		<ul class="list-unstyled">
		<% current_user.clients.each do |client|%>
			<br>
			<li><%= client.client_label %> - <%= client.client_manager.username %></li>
			<% if client.fax_numbers %>
			<ul class="list-unstyled">
				<% client.fax_numbers.each do |fax_number| %>
					<li><%= fax_number.fax_number_label %> | <%= fax_number.fax_number %></li>
					<% if fax_number.emails %>
					<ul class="list-unstyled">
						<% fax_number.emails.each do |email| %>
							<li><%= email.email %></li>
						<% end %>
					<% end %>
					</ul>
				<% end %>
			</ul>
			<% end %>
		<% end %>
		</ul>
	<% end %>
	<% if @phaxio_fax_numbers %>
	<% end %>
<% end %>