<div id="manage-clients-top" class="row">
	<div class="col-lg-9">
		<h1>Manage Clients</h1>
	</div>
	<div class="col-lg-3 text-center">
		<%= link_to "Add New Client", new_client_path, class: "btn btn-primary" %>
	</div>
</div>
<% if is_admin? %>
	<% if @clients.present? %>
		<% @clients.each do |client| %>
			<div class="client-info row">
				<div class="col-lg-4">
					<div class="client-label-div align-self-center">
						<h2><%= link_to client.client_label, client_path(client) %></h2>
						<% if client.client_manager %>
								<p>Managed by: <%= client.client_manager.username %></p>
						<% else %>
							<%= button_to "Invite Manager", root_path, method: :get, class: "btn-inline btn btn-success btn-sm" %>
						<% end %>
					</div>
				</div>
				<div class="col-lg-6">
					<table class="table table-hover table-striped table-sm align-self-center">
						<thead class="thead-dark">
							<tr>
								<th class="text-center">Fax Number</th>
								<th class="text-center">Label</th>
								<th class="text-center">Client-Set Label</th>
								<th class="text-center">Edit Fax Number</th>
							</tr>
						</thead>
						<tbody>
							<% if client.fax_numbers.present? %>
								<% client.fax_numbers.each do |client_fax_number| %>
									<tr>
										<td class="text-center"><%= client_fax_number.fax_number %></td>
										<td class="text-center"><%= client_fax_number.fax_number_label %></td>
										<td class="text-center"><%= client_fax_number.fax_number_display_label %></td>
										<td class="text-center"><%= link_to "Edit Fax Number", edit_fax_number_path(client_fax_number), class: "btn btn-success btn-sm" %>
									</tr>
								<% end %>
							<% else %>
							<td></td>
							<td></td>
							<td>None Assigned</td>
							<td></td>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="col-lg-1 align-self-center">
					<%= link_to "Edit Client", edit_client_path(client), class: "btn-inline btn btn-success" %>
				</div>
			</div> <!-- row closing tag -->
		<% end %>
	<% end %>
	<% if @unallocated_fax_numbers.present? %>
		<div id="unallocated-numbers" class="row">
			<div class="col-lg-4">
				<h2>Unallocated Fax Numbers</h2>
			</div>
			<div class="col-lg-9">
				<ul class="list-unstyled">
					<% @unallocated_fax_numbers.each do |fax_number| %>
						<li> <%= fax_number.fax_number %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>
<% end %>
