<div id="manage-clients-top" class="row">
	<div class="col-lg-10">
		<h1><%= @client.client_label %></h1>
	</div>
	<div class="col-lg-2">
		<%= link_to "Create New Email", new_user_email_path, class: "btn btn-primary" %>
	</div>
</div>
<% if authorized?(@client, :client_manager_id) %>
	<% if @client.fax_numbers.present? %>
		<% @client.fax_numbers.each do |client_fax_number| %>
			<div class="client-email-info row">
				<div class="col-lg-4">
					<div class="client-label-div align-self-center">
						<h2><%= link_to client_fax_number.fax_number, edit_fax_number_path(client_fax_number) %></h2>
						<p><%= client_fax_number.fax_number_display_label %></p>
					</div>
				</div>
				<div class="col-lg-6">
					<table class="table table-hover table-striped table-sm align-self-center">
						<thead class="thead-dark">
							<tr>
								<th></th>
								<th class="text-center"></th>
								<th class="text-center">Email</th>
								<th class="text-center">Caller ID</th>
								<th class="text-center">Edit</th>
							</tr>
						</thead>
						<tbody>
							<% if client_fax_number.user_emails.present? %>
								<% client_fax_number.user_emails.each do |user_email| %>
									<tr>
										<td class="text-center align-middle"><%= image_tag("file-icon.png", size:"24x24") %></td>
										<td></td>
										<td class="text-center"><%= user_email.email_address %></td>
										<td class="text-center"><%= user_email.caller_id_number %></td>
										<td class="text-center"><%= link_to "Edit Email", edit_user_email_path(user_email), class: "btn btn-sm btn-success" %>
									</tr>
								<% end %>
							<% else %>
								<tr>
									<td class="text-center align-middle"><%= image_tag("file-icon.png", size:"24x24") %></td>
									<td></td>
									<td class="text-right">None</td>
									<td class="text-left">Assigned</td>
									<td></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="col-lg-1 align-self-center">
					<%= link_to "Manage Emails", edit_fax_number_path(client_fax_number), class: "btn btn-sm btn-success" %>
				</div>
			</div>
		<% end %>
	<% end %>
<% end %>
<% if @unused_emails.present? %>
	<div id="unallocated-emails" class="row">
		<div class="col-lg-4">
			<h2>Unallocated Emails</h2>
		</div>
		<div class="col-lg-9">
			<ul class="list-unstyled">
				<% @unused_emails.each do |unused_email| %>
					<li> <%= unused_email.email_address %> </li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>