<div class="row">
	<div class="col-lg-8">
		<h1><%= @client.client_label %></h1>
	</div>
	<div class="col-lg-4">
		<% if is_admin? %>
			<%= link_to "Manage Client Fax Numbers / Details", edit_client_path(@client), class: "btn btn-primary align-self-center" %>
		<% end %>
	</div>
</div>

<% if @client.fax_numbers.present? %>
	<% @client.fax_numbers.each do |client_fax_number| %>
		<div class="info-box row">
			<div class="col-lg-5">
				<h2><%= client_fax_number.fax_number %></h2>

				<% if is_admin? %>
					<div class="col">
						<div class="row">
							<p><strong>Client-Set Label:</strong> <%= client_fax_number.fax_number_display_label %></p>
						</div>
						<div class="row">
							<p><%= client_fax_number.fax_number_label %></p>
						</div>
					</div>
				<% else %>
					<div class="col">
						<div class="row">
							<p><%= client_fax_number.fax_number_display_label %></p>
						</div>
					</div>
				<% end %>

				<div class="form-group">
					<%= link_to "Link / Unlink Email Addresses", edit_fax_number_path(client_fax_number), class: "btn btn-primary" %>
				</div>
			</div>

			<div class="col-lg-7 align-self-center">
				<table class="table table-hover table-striped table-sm">
					<thead class="thead-dark">
						<tr>
							<th class="text-center">Email</th>
							<th class="text-center">Caller ID</th>
							<th class="text-center">Edit</th>
						</tr>
					</thead>
					<tbody>
						<% if client_fax_number.user_emails.present? %>
							<% client_fax_number.user_emails.each do |user_email| %>
								<tr>
									<td class="text-center"><%= user_email.email_address %></td>
									<td class="text-center"><%= user_email.caller_id_number %></td>
									<td class="text-center"><%= link_to "Edit User", edit_user_email_path(id: user_email.id), class: "btn btn-sm btn-success" %>
								</tr>
							<% end %>
						<% else %>
							<tr>
								<td></td>
								<td class="text-center"> None Assigned</td>
								<td></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>

		</div>
	<% end %>
<% end %>

<% if @client.user_emails.present? %>
	<h2><%= @client.client_label %> Users</h2>
	<p>
		A brief description stating that invited users may log in to send faxes.
	</p>
	<div class="info-box row">
		<div class="col-lg-6">
			<table class="table table-sm table-hover">
				<tbody>
					<% @client.user_emails.each do |user_email| %>
						<% if @client.user_emails.index(user_email).even? %>
							<tr>
								<td class="text-center"><%= user_email.email_address %></td>
								<td class="text-center">
									<% if user_email.user_id.nil? %>
										<%= form_for :user, url: "/users", method: :post do |f| %>
											<%= f.hidden_field :client_id, value: @client.id %>
											<%= f.hidden_field :email, value: user_email.email_address %>
											<%= f.submit "Grant Access", class: "btn btn-success btn-sm" %>
										<% end %>
									<% else %>
										<%= button_to "Revoke Access", user_path(id: user_email.user_id), method: :delete, class: "btn btn-danger btn-sm" %>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>

		<div class="col-lg-6">
			<table class="table table-sm table-hover">
				<tbody>
					<% @client.user_emails.each do |user_email| %>
						<% if @client.user_emails.index(user_email).odd? %>
							<tr>
								<td class="text-center"><%= user_email.email_address %></td>
								<td class="text-center">
									<% if user_email.user_id.nil? %>
										<%= form_for :user, url: "/users", method: :post do |f| %>
											<%= f.hidden_field :client_id, value: @client.id %>
											<%= f.hidden_field :email, value: user_email.email_address %>
											<%= f.submit "Grant Access", class: "btn btn-success btn-sm" %>
										<% end %>
									<% else %>
										<%= button_to "Revoke Access", user_path(id: user_email.user_id), method: :delete, class: "btn btn-danger btn-sm" %>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>

	</div>
<% end %>