<%= form_for(:fax_number, url: "/fax_number_user_emails/#{@fax_number.id}", method: :put) do |f| %>
	<div class="row">
		<% if @fax_number.unused_client_emails.present? %>
			<div class="col-lg-6">
				<p><strong>Link These Emails to <%= FaxNumber.format_pretty_fax_number(@fax_number.fax_number) %>:</strong></p>
				<table class="table table-hover table-striped table-sm">
					<thead class="thead-dark">
						<tr>
							<th class="text-center">Add</th>
							<th class="text-center">Caller ID</th>
						</tr>
					</thead>
					<tbody>
						<% @fax_number.unused_client_emails.each do |unused_email| %>
							<tr>
								<td class="text-center">
									<input class="form-check-input" type="checkbox" id="<%= unused_email.email_address %>" name="user_emails[to_add][<%= unused_email.id %>]">
									<label for="<%= unused_email.email_address %>" class="form-check-label"><%= unused_email.email_address %></label>
								</td>
			    			<td class="text-center"><%= FaxNumber.format_pretty_fax_number(unused_email.caller_id_number) %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		<% end %>
		<% if @fax_number.user_emails.present? %>
			<div class="col-lg-6">
				<p><strong>Unlink These Emails from <%= FaxNumber.format_pretty_fax_number(@fax_number.fax_number) %>:</strong></p>
				<table class="table table-hover table-striped table-sm">
					<thead class="thead-dark">
						<tr>
							<th class="text-center">Remove</th>
							<th class="text-center">Caller ID</th>
						</tr>
					</thead>
					<tbody>
						<% @fax_number.user_emails.each do |user_email| %>
							<tr>
								<td class="text-center">
									<input class="form-check-input" type="checkbox" id="<%= user_email.email_address %>" name="user_emails[to_remove][<%= user_email.id %>]">
									<label for="<%= user_email.email_address %>" class="form-check-label"><%= user_email.email_address %></label>
								</td>
			    			<td class="text-center"><%= FaxNumber.format_pretty_fax_number(user_email.caller_id_number) %></td>
							</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		<% end %>
	</div>
	<%= f.submit "Submit", class: "btn btn-success" %>
<% end %>