<body data-page="organization-index">
	<div class="row">
		<div class="col-lg-9 align-self-centered">
			<h1>Manage Organizations</h1>
		</div>
		<div class="col-lg-3 text-center align-self-centered">
			<%= link_to "Add New Organization", new_organization_path, class: "btn btn-success btn-lg" %>
		</div>
	</div>

	<% if @organizations.present? %>
		<% @organizations.each do |organization| %>
			<div class="row information-box">
				<div class="col-lg-4 form-group">
					<div class="form-group">
						<h2><%= link_to organization.label, organization_path(organization) %></h2>
					</div>
					<% if organization.manager %>
							<p>Managed by: <%= organization.manager.email %></p>
					<% elsif organization.fax_numbers.present? %>
						<div class="form-group">
							<%= form_for @user, url: "users", method: :post, class: "form-inline" do |f| %>
								<%= f.hidden_field :permission, value: "#{UserPermission::MANAGER}" %>
								<%= f.hidden_field :organization_id, value: organization.id %>
								<div class="form-inline form-group inline-input-margin">
									<label>Manager Caller ID:</label>
									<select class="form-control form-inline inline-input-margin" name="user[caller_id_number]">
										<% organization.fax_numbers.each do |organization_fax_number| %>
											<option name="user[caller_id_number]" value="<%= organization_fax_number.fax_number %>" selected="selected">
												<%= FaxNumber.format_pretty_fax_number(organization_fax_number.fax_number) %>
											 </option>
										<% end %>
									</select>
								</div>
								<div class="mb-2 mr-sm-2 input-group align-self-center">
									<%= f.email_field :email, placeholder: "manager@acme.com", class: "form-control mb-2 mr-sb-2" %>
									<%= f.submit "Invite Manager", class: "btn btn-success btn-sm inline-object-margin align-self-center" %>
								</div>
							<% end %>
						</div> 
					<% else %>
						<div class="form-group">
							<p>You must link a fax number before you can invite a manager</p>
						</div>
					<% end %>
					<div class="form-group">
						<form action="/organizations/<%= organization.id %>" method="POST" class="delete-organization">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="_method" value="DELETE">
							<button type="submit" class="btn btn-danger">
								<span><i class="fa fa-fw fa-trash"></i> Delete Organization</span>
							</button>
						</form>
					</div>
				</div>

				<div class="col-lg-8 align-self-center">
					<table class="table table-hover table-striped table-sm align-self-center table-bordered">
						<thead class="thead-dark">
							<tr>
								<th class="text-center">Fax Number</th>
								<th class="text-center">Label</th>
								<th class="text-center">Manager Label</th>
							</tr>
						</thead>
						<tbody>
							<% if organization.fax_numbers.present? %>
								<% organization.fax_numbers.each do |organization_fax_number| %>
									<tr>
										<td class="text-center"><%= FaxNumber.format_pretty_fax_number(organization_fax_number.fax_number) %></td>
										<td class="text-center"><%= organization_fax_number.label %></td>
										<td class="text-center"><%= organization_fax_number.manager_label %></td>
									</tr>
								<% end %>
							<% else %>
								<tr>
									<td></td>
									<td class="text-center">None Assigned</td>
									<td></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		<% end %>
	<% else %>
	<div class="row">
		<div class="col information-box">
			<p> You have not added any organizations yet. Click the 'Add New Organization' button above to get started. </p>
		</div>
	</div>
	<% end %>
</body>