<div class="row">
	<div class="col-lg-8">
		<h1><%= @organization.label %></h1>
	</div>
	<div class="col-lg-4 align-self-center">
		<% if is_admin? %>
			<%= link_to "Manage Client Fax Numbers / Details", edit_organization_path(@organization), class: "btn btn-success btn-lg" %>
		<% end %>
	</div>
</div>

<% if @organization.fax_numbers.present? %>
	<% @organization.fax_numbers.each do |organization_fax_number| %>
		<div class="row information-box">
			<div class="col-lg-5">
				<h2>
					<% if is_admin? %>
						<%= link_to FaxNumber.format_pretty_fax_number(organization_fax_number.fax_number), edit_fax_number_path(organization_fax_number) %>
					<% else %>
						<%= FaxNumber.format_pretty_fax_number(organization_fax_number.fax_number) %>
					<% end %>
				</h2>
				<% if is_admin? %>
					<div class="col">
						<div class="row">
							<p><strong>Admin Label: </strong><%= organization_fax_number.label %></p>
						</div>
						<div class="row">
							<p><strong>organization Label: </strong> <%= organization_fax_number.manager_label %></p>
						</div>
					</div>
				<% else %>
					<div class="col">
						<div class="row">
							<p><%= organization_fax_number.manager_label %></p>
						</div>
					</div>
				<% end %>

				<div class="form-group">
					<% if organization_fax_number.organization.users.present? %>
						<%= link_to "Link / Unlink Users", edit_user_fax_number_path(organization_fax_number), class: "btn btn-success" %>
					<% else %>
						<div class="col">
							<p><em> Add users below to start linking them to your fax numbers</em></p>
						</div>
					<% end %>
				</div>
			</div>
			
			<div class="col-lg-7 align-self-center">
				<table class="table table-hover table-striped table-sm">
					<thead class="thead-dark">
						<tr>
							<th class="text-center">Email</th>
							<th class="text-center">Caller ID</th>
						</tr>
					</thead>
					<tbody>
						<% if organization_fax_number.users.present? %>
							<% organization_fax_number.users.each do |user| %>
								<tr>
									<td class="text-center"><%= user.email %></td>
									<td class="text-center"><%= FaxNumber.format_pretty_fax_number(user.caller_id_number) %></td>
								</tr>
							<% end %>
						<% else %>
							<tr>
								<td></td>
								<td class="text-center"> None Assigned</td>
								<td></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	<% end %>

	<br>
	<div class="container-fluid user-form">
		<h2><%= @organization.label %> Users</h2>
		<div class="col">
			<p><em>If you would only like to implement email-to-fax capabilities and do not wish for your users to log in to send a fax, uncheck the 'Invite User' box.</em></p>
		</div>
		<div class="row">
			<div class="inline-input-margin col-lg-10">
				<%= form_for :user, url: "/users", method: :post, class: "form-inline" do |f| %>
					<%= f.hidden_field :organization_id, value: "#{@organization.id}" %>
					<div class="row">
						<div class="form-group col-lg-4">
							<strong><%= f.label :email, "Email:", class: "pull-left" %></strong>
							<%= f.email_field :email, class: "form-control" %>
						</div>
						<div class="form-group col-lg-4">
							<strong><%= f.label :caller_id_number, "Caller ID Number:", class: "pull-left" %></strong>
							<select class="form-control form-inline" name="user[caller_id_number]">
								<% @organization.fax_numbers.each do |organization_fax_number| %>
									<option name="user[caller_id_number]" value="<%= organization_fax_number.fax_number %>" selected="selected">
										<%= FaxNumber.format_pretty_fax_number(organization_fax_number.fax_number) %>
										<% if organization_fax_number.manager_label.present? %>
									 		- <%= organization_fax_number.manager_label %>
									 	<% end %>
									 </option>
								<% end %>
							</select>
						</div>
						<div class="col force-down-checkbox inline-input-margin text-center">
							<input type="checkbox" id="invite-new-user" class="form-check-input" name="user[invite]" checked="checked">
							<label for="invite-new-user" class="form-check-label">Invite User</label>
						</div>
						<div class="col form-group force-down-button">
							<%= f.submit "Create User", class: "btn btn-success" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<% if @organization.users.present? %>
		<div class="container-fluid">
			<br>
			<div class="col">
				<p><em>Click 'Edit User' to grant an existing user to Phax Machine or to revoke their access.</em></p>
			</div>
		</div>
		<div class="row information-box">
			<div class="col-lg-6">
				<table class="table table-sm table-hover">
					<tbody>
						<% @organization.users.each do |user| %>
							<% if @organization.users.index(user).even? %>
								<tr>
									<td class="text-center"><%= user.email %></td>
									<td class="text-center">
										<%= link_to "Edit User", edit_user_registration_path(id: user.id), class: "btn btn-sm btn-success" %>
									</td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>

			<div class="col-lg-6">
				<table class="table table-sm table-hover">
					<tbody>
						<% @organization.users.each do |user| %>
							<% if @organization.users.index(user).odd? %>
								<tr>
									<td class="text-center"><%= user.email %></td>
									<td class="text-center">
										<%= link_to "Edit User", edit_user_registration_path(id: user.id), class: "btn btn-sm btn-success" %>
									</td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	<% end %>

<% else %>
	<% if is_admin? %>
		<div class="row information-box">
			<div class="col">
				<p>No Fax Numbers are associated with this account. Please click 'Manage Organization Fax Numbers / Details' above to assign a fax number to this Organization.</p>
			</div>
		</div>
	<% end %>
<% end %>