<%= form_for email do |f| %>
	<% if fax_number %>
		<%= f.hidden_field :fax_number_id, value: "#{fax_number.id}" %>
		<%= f.hidden_field :client_id, value: "#{fax_number.client.id}" %>
	<% end %>
	<div class="form-group">
		<%= f.label :email, "Email Address" %>
		<%= f.email_field :email, class: "form-control"%>
	</div>
	<div class="form-group">
		<%= f.label :caller_id_number, "Caller ID Number" %>
		<% if email.caller_id_number %>
			<%= f.phone_field :caller_id_number, value: "#{email.caller_id_number}", class: "form-control" %>
		<% else %>
			<%= f.phone_field :caller_id_number, value: "#{fax_number.fax_number}", class: "form-control" %>
		<% end %>
	</div>
	<div class="form-group">
		<%= f.submit "Submit", class: "btn btn-primary" %>
	</div>
<% end %>