<body class="bg-dark coverup">
  <div class="container coverup">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">User:</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-8">
					<% if is_admin? %>
						<i><p class="text-center">Note: Only client-set labels are shown here</p></i>
					<% end %>

					<%= form_for user_email do |f| %>
						<% if fax_number %> <!-- These values not used when editing -->
							<%= f.hidden_field :client_id, value: "#{fax_number.client.id}" %>
						<% end %>
						<div class="row">
							<div class="form-group col-lg-4">
								<strong><%= f.label :email_address, "Email Address:", class: "pull-left" %></strong>
								<%= f.email_field :email_address, class: "form-control" %>
							</div>
							<div class="form-group col-lg-4">
								<strong><%= f.label :caller_id_number, "Caller ID Number:", class: "pull-left" %></strong>
								<select class="form-control form-inline" name="user_email[caller_id_number]">
									<% user_email.client.fax_numbers.each do |client_fax_number| %>
										<% if client_fax_number.fax_number == user_email.caller_id_number %>
											<option name="user_email[caller_id_number]" value="<%= client_fax_number.fax_number %>" selected="selected">
												<%= FaxNumber.format_pretty_fax_number(client_fax_number.fax_number) %>
												<% if client_fax_number.fax_number_display_label.present? %>
											 		- <%= client_fax_number.fax_number_display_label %>
											 	<% end %>
											 </option>
										<% else %>
											<option name="user_email[caller_id_number]" value="<%= client_fax_number.fax_number %>">
												<%= FaxNumber.format_pretty_fax_number(client_fax_number.fax_number) %>
												<% if client_fax_number.fax_number_display_label.present? %>
										 			- <%= client_fax_number.fax_number_display_label %>
										 		<% end %>
										 	</option>
										<% end %>
									<% end %>
								</select>
							</div>
							<div class="col-lg-2 form-group force-down-button">
								<%= f.submit "Submit", class: "btn btn-success" %>
							</div>
						</div>
					<% end %>
					<div class="col-lg-2 form-group force-down-button">
						<% if user_email.user_id.nil? %>
							<%= form_for :user, url: "/users", method: :post do |f| %>
								<%= f.hidden_field :invite, value: 'on' %>
								<%= f.hidden_field :client_id, value: user_email.client.id %>
								<%= f.hidden_field :email, value: user_email.email_address %>
								<%= f.submit "Grant Access", class: "btn btn-success" %>
							<% end %>
						<% elsif user_email != current_user.user_email %> <!-- Keeps Client Manager from revoking their own user -->
							<%= form_for :user, url: "/users/#{user_email.user_id}", method: :delete do |f| %>
								<%= f.hidden_field :email, value: user_email.email_address %>
								<%= f.submit "Revoke Access", class: "btn btn-danger" %>
							<% end %>
						<% end %>
					</div>
	      </div>
	    </div>
	  </div>
	</div>
</body>