<body class="bg-dark coverup">
  <div class="container coverup">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Add New Email Address:</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-8">
					<% if is_admin? %>
						<i><p class="text-center">Note: Only client-set labels are shown here</p></i>
					<% end %>

					<%= form_for user_email do |f| %>
						<% if fax_number %> <!-- These values not used when editing -->
							<%= f.hidden_field :fax_number_id, value: "#{fax_number.id}" %>
							<%= f.hidden_field :client_id, value: "#{fax_number.client.id}" %>
						<% end %>

						<div class="row">
							<div class="form-group col-lg-5">
								<strong><%= f.label :email_address, "Email Address:", class: "pull-left" %></strong>
								<%= f.email_field :email_address, class: "form-control" %>
							</div>
							<div class="form-group col-lg-5">
								<strong><%= f.label :caller_id_number, "Caller ID Number:", class: "pull-left" %></strong>
								<select class="form-control form-inline" name="user_email[caller_id_number]">
									<% user_email.client.fax_numbers.each do |client_fax_number| %>
										<% if client_fax_number == fax_number %>
											<option name="user_email[caller_id_number]" value="<%= client_fax_number.fax_number %>" selected="selected">
												<%= FaxNumber.format_pretty_fax_number(client_fax_number.fax_number) %>
												<% if client_fax_number.fax_number_display_label.present? %>
											 		- <%= client_fax_number.fax_number_display_label %>
											 	<% end %>
											 </option>
										<% else %>
											<option name="user_email[caller_id_number]" value="<%= client_fax_number.fax_number %>">
												<%= FaxNumber.format_pretty_fax_number(client_fax_number.fax_number) %>
												<% if client_fax_number.fax_number_display_label.present? %>
										 			- <%= client_fax_number.fax_number_display_label %>
										 		<% end %>
										 	</option>
										<% end %>
									<% end %>
								</select>
							</div>
							<div class="col-lg-2 form-group force-down-button">
								<%= f.submit "Submit", class: "btn btn-primary" %>
							</div>
						</div>
					<% end %>
	      </div>
	    </div>
	  </div>
	</div>
</body>