<head>
	<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
</head>

<% if is_admin? %>
	<h1>Fax Logs</h1>
<% elsif is_manager? %>
	<h1>Fax Logs - <%= current_user.organization.label %></h1>
<% else %>
		<h1>Fax Logs - <%= current_user.email %></h1>
<% end %>
<div class="col">

	<div class="filtering-form">
		<br>
		<%= form_for(:fax_log, class: "form-inline", remote: true) do |f| %>
			<div class="row">

				<% if is_admin? %>
					<div class="form-group col-md-2">
						<%= f.label :organization, "Organization:", class: 'control-label' %>
						<select id="org-select" class="form-control form-inline" name="fax_log[organization]">
							<% @organizations.each do |organization_fax_tag, organization_data| %>
								<% if organization_fax_tag == :All %>
									<option class="all-org" name="fax_log[organization]" value="<%= organization_fax_tag %>" selected="selected">All</option>
								<% else %>
									<option class="<%= organization_data['org_id'] %>" name="fax_log[organization]" value="<%= organization_fax_tag %>"><%= organization_data['label'] %></option>
								<% end %>
							<% end %>
						</select>
					</div>
				<% end %>

				<div class="form-group col-md-2">
					<%= f.label :fax_number, "Fax Number:", class: 'control-label' %>
					<select id="fax-select" class="form-control form-inline" name="fax_log[fax_number]">
						<% @fax_numbers.each do |fax_number_key, fax_number_data| %>
							<% if fax_number_key == :All %>
								<option class="all-fax" name="fax_log[fax_number]" value="<%= fax_number_key %>" selected="selected">
									All
								</option>
							<% else %>
								<option class="<%= fax_number_data['org_id'] %>" name="fax_log[fax_number]" value="<%= fax_number_key %>">
									<%= FaxNumber.format_pretty_fax_number(fax_number_key)%>
								</option>
							<% end %>
						<% end %>
					</select>
				</div>

				<% if is_manager? %>
					<div class="form-group col-md-2">
						<%= f.label :user, "User:", class: 'control-label' %>
						<select id="user-select" class="form-control form-inline" name="fax_log[user]">
							<% @users.each do |user_key, user_data| %>
								<% if user_key == :All %>
									<option class="all-user" name="fax_log[user]" value="<%= user_key %>" selected="selected">
										All
									</option>
								<% else %>
									<option class="<%= user_data['org_id'] %>" name="fax_log[user]" value="<%= user_key %>">
										<%= user_data[:email] %>
									</option>
								<% end %>
							<% end %>
						</select>
					</div>
				<% end %>

				<div class="form-group col-sm-2">
					<%= f.label :start_time, 'Start Date:', class: 'control-label' %>
					<%= f.text_field :start_time, data:{ provide: 'datepicker' }, class: ' datepicker-inline form-control' %>
				</div>

				<div class="form-group col-sm-2">
					<%= f.label :end_time, 'End Date:', class: 'control-label' %>
					<%= f.text_field :end_time, data:{ provide: 'datepicker' }, class: 'datepicker-inline form-control', id: "end-date-field" %>
				</div>

				<div class="form-group col-md-2 form-inline">
					<%= f.submit "Filter Results", class: "btn btn-success force-down-button" %>
				</div>

			</div>
		<% end %>
	</div>

	<table class="table table-sm table-striped table-hover table-bordered">
		<thead class="thead-dark">
			<tr>
				<th></th>
				<th class="text-center">Fax ID</th>
				<% if is_admin? %>
					<th class="text-center">Organization</th>
					<th class="text-center">Sent By</th>
				<% elsif is_manager? %>
					<th class="text-center">Sent By</th>
				<% end %>
				<th class="text-center">Direction</th>
				<th class="text-center">From Number</th>
				<th class="text-center">To Number</th>
				<th class="text-center">Status</th>
				<th class="text-center">Time</th>
			</tr>
		</thead>
		<tbody>
			<% @sorted_faxes.each do |fax_id_key, fax_data| %>
				<tr>
					<td class="text-center"><i class="fa fa-fw fa-download" aria-hidden="true"></i></td>
					<td class="text-center"><%= "#" << fax_id_key.to_s %></td>
					<% if is_admin? %>
						<td class="text-center"><%= fax_data[:organization] %></td>
						<td class="text-center"><%= fax_data[:sent_by] %></td>
					<% elsif is_manager? %>
						<td class="text-center"><%= fax_data[:sent_by] %></td>
					<% end %>
					<td class="text-center"><%= fax_data[:direction] %></td>
					<td class="text-center"><%= fax_data[:from_number] %></td>
					<td class="text-center"><%= fax_data[:to_number] %></td>
					<td class="status"><%= fax_data[:status] %></td>
					<td class="text-center"><%= fax_data[:created_at] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>